.main{
    width: 63vw;
    height: auto;
    position: relative;
    top:-50vh;
    left:30vw;
}

.main input[disabled]{
    background-color: gainsboro;
}
.main input{
    color: red;
    padding-left: 2vw;
    width: 90%;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 3vh;
    border: none;
    background-color: blue;
}
.main input[type="submit"]{
    background-color: green;
    border:none;
    color: black;
}